@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
body {
background-color: rgb(19, 18, 18);
color: white;
font-family: "Inter", sans-serif;
}
.nav-link,a{
    color: white;
}
.nav-link:hover ,a:hover{
    color: rgb(169, 8, 8);
}
.colored{
    color: rgb(125, 6, 6);

}

.click{
    cursor: pointer;
}
.bg-colored{
   background-color:  rgb(125, 6, 6);

}
.btn-colored{
    color: white;
background-color:  rgb(125, 6, 6);
}
.btn-colored:hover{
background-color: rgb(103, 5, 5);
color: white;

}
.navbar-nav {
  
    --bs-nav-link-hover-color: rgb(187, 9, 9) !important;

}
